<h1>Add Product</h1>

<form method="post" action="/products/add">
	<input name="name" placeholder="Name" required>
	<input name="price" type="number" step="0.01" placeholder="Price" required>
	<button>Add</button>
</form>

<a href="/products">Back to products</a>
